# Ignore EVERYTHING by default, we're adding everything back by hand
/*
!.git*
!README.md

# Put back in what we actually want
!gitpull
!/wp-content/
/wp-content/*

# Themes
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/stack

# Plugins
!/wp-content/plugins/
/wp-content/plugins/*

# NEVER ship node or bower modules and systems files
node_modules
bower_components
.DS_Store